# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

VITE_SERVICE_ID=service_gp9tzgf
VITE_TEMPLATE_ID=template_w1eqv88
VITE_PUBLIC_KEY=9Zhe922D1Kpw2Lzgn